@import '../../libs/colors';

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .item {
    display: flex;
    margin: 10px;

    a {
      color: $color-orange;
    }
    i {
      padding-right: 5px;
    }
  }

  .about {
    height: 100vh;

    .contact {
      margin: auto;
    }
  }
}
