.carousel-item {
  width: 1000px;
  position: absolute;
  top: -15%;
  left: -75%;
}

.active {
  animation: move 1s 1s ease-out forwards;

  animation-duration: 1s;
}

ms-paralax {
  height: 75vh;
}

@-webkit-keyframes move {
  0% {
    left: 1%;
  }
  100% {
    left: 100%;
  }
}

.carousel-caption {
  background-color: rgba(128, 128, 128, 0.40);
}
