<ngb-carousel *ngIf="images" [showNavigationArrows]="true" [showNavigationIndicators]="true">
  <ng-template ngbSlide *ngFor="let imageDetail of images">
    <!--<div class="img-wrapper">-->
      <!--<img class="img-fluid" [src]="imageDetail.image" alt="Random slide">-->
    <!--</div>-->
    <ms-paralax [backgroundImage]="imageDetail.image"></ms-paralax>
    <div class="carousel-caption">
      <h3>{{imageDetail.title | translate}}</h3>
      <p>{{imageDetail.text | translate}}</p>
    </div>
  </ng-template>
</ngb-carousel>
