<div class="text-content">
  <h1>
    {{ 'title' | translate }}!
  </h1>
  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend odio sapien, a ullamcorper enim fermentum sit amet. Aenean tristique, orci vitae volutpat suscipit, ligula est sollicitudin odio, a tempor tellus eros id risus. Sed ornare nunc vitae dui pharetra pellentesque. Vivamus rutrum a tortor at facilisis. Quisque eget scelerisque augue. Nulla posuere tellus at nulla dapibus ultricies. Duis dignissim sed quam eu finibus. Mauris iaculis sem ac nibh posuere hendrerit. Praesent egestas, odio vitae congue auctor, ligula urna iaculis metus, ut varius neque nulla sed urna. Sed porta massa ac ante blandit scelerisque. Donec semper diam risus, vel gravida mauris ultrices a. Proin sed erat non urna rhoncus luctus. Donec eget vehicula velit. Curabitur commodo dolor nec mattis mattis. Aliquam erat volutpat. Curabitur iaculis ac mauris id consequat.-->

  <!--Suspendisse luctus sem nunc, vel volutpat lacus tempor eget. Nullam odio nulla, maximus sit amet interdum eget, luctus sit amet dui. Duis risus arcu, pretium nec accumsan et, volutpat quis orci. Praesent pulvinar nulla et mauris consectetur, eget efficitur enim malesuada. Phasellus suscipit magna in velit auctor aliquet. In a lectus magna. Nullam nunc ante, congue sed sem id, convallis dignissim leo. Pellentesque vitae hendrerit sapien, et vulputate lectus. Aliquam vehicula leo velit, id vulputate magna convallis non. Phasellus mattis lacus ac nibh ultricies, at pharetra ante gravida. Morbi in laoreet est. Sed sit amet turpis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->

  <!--Nam massa arcu, bibendum vel ipsum ut, mollis porta ante. Aenean et felis vitae arcu venenatis vulputate maximus id nibh. Nunc ligula ex, pellentesque nec nibh ac, consequat pharetra lectus. Donec interdum arcu eget purus congue, vel fermentum risus euismod. Vestibulum nec tristique quam. Sed eleifend metus id blandit pulvinar. Aliquam a pretium mi, fermentum ornare arcu. Proin tincidunt nisi a ligula lobortis, at ullamcorper nibh interdum. Nullam id interdum dui, nec tempor tortor. Morbi urna nisi, ultricies nec pharetra at, tristique a diam. Ut pulvinar sed lorem et tempor.-->

  <!--Aliquam scelerisque enim ut lorem euismod feugiat. Suspendisse finibus lorem interdum, vestibulum massa sit amet, tempus diam. Phasellus turpis purus, malesuada nec justo non, malesuada scelerisque metus. In fermentum ultricies orci at dictum. Morbi non justo sit amet mi luctus maximus eget eu nisi. Pellentesque blandit mauris nulla. Nam gravida odio tortor, eget porttitor ante cursus vitae. Curabitur sit amet nulla odio. Integer at blandit risus. Proin suscipit, eros a condimentum dignissim, ipsum ex tempus purus, eget varius dolor ante non purus. Fusce fermentum enim non mauris efficitur auctor. Etiam eget aliquet neque.-->

  <!--Aliquam erat volutpat. Nulla suscipit ut erat sed efficitur. Pellentesque hendrerit tincidunt rutrum. Sed vestibulum, quam at pretium aliquam, lacus ligula scelerisque magna, sed laoreet ipsum augue eu turpis. Pellentesque imperdiet sit amet lectus id feugiat. Sed quis neque gravida libero bibendum sagittis. Praesent magna ex, efficitur ac dolor quis, faucibus malesuada magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;-->

  <!--Quisque sem lorem, dictum id consectetur eget, tempus rhoncus felis. Integer eget ante ac sapien rutrum volutpat. Donec posuere pretium mi, a luctus nunc. Suspendisse euismod scelerisque semper. In aliquet tellus sed egestas mattis. Nunc vehicula, tortor et tristique dapibus, ante ante suscipit quam, non suscipit ligula sapien at justo. Donec placerat condimentum metus, a ullamcorper ex aliquet id. Nulla augue arcu, consectetur in eros sit amet, pulvinar varius leo. Nunc posuere vel felis non tempor. Ut bibendum lacinia tellus quis dapibus. Vivamus id facilisis risus, non viverra lectus. Donec fringilla ligula vitae tellus feugiat placerat. Ut convallis rhoncus nulla convallis accumsan. Pellentesque ac enim porttitor, sollicitudin tortor a, rhoncus neque. Morbi consectetur, lacus eget laoreet cursus, arcu nisl suscipit neque, sed auctor neque leo sed turpis.-->

  <!--Duis nec quam est. Ut et leo eleifend, imperdiet dui id, tristique velit. Vivamus blandit lorem ligula, vulputate egestas risus facilisis in. Mauris dictum lacus sit amet est posuere molestie. Sed fermentum arcu quis mauris pulvinar scelerisque. Vestibulum mollis commodo nulla vel pulvinar. Integer porta egestas dignissim. Phasellus nec placerat diam. Nam id nulla sed ante dictum molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vitae tincidunt nisi. Quisque vel enim a ligula tempus hendrerit. Phasellus convallis dictum ex, quis tempus odio vulputate id. Donec faucibus, ligula at tempus aliquam, lectus mi dictum risus, eu suscipit neque lorem tempus velit.-->

  <!--In et viverra ex. Curabitur laoreet, neque eget congue semper, nisi justo condimentum arcu, id consequat lorem elit placerat felis. Aliquam sodales sollicitudin nunc, in laoreet enim sollicitudin ac. Fusce non mi mollis, pellentesque sapien vel, luctus magna. Praesent pretium quis nunc id dictum. Pellentesque condimentum pretium turpis quis ullamcorper. Aliquam dignissim, augue non ornare commodo, erat tellus condimentum eros, eu mollis enim quam id lacus. Nulla et lobortis dolor. Phasellus pellentesque quam quis lectus luctus viverra. Quisque blandit odio non urna imperdiet, sit amet mattis erat sodales. Nullam bibendum sit amet sapien vitae tristique.-->

  <!--Proin tristique tortor vitae odio placerat, nec laoreet mi posuere. Morbi arcu eros, posuere eu molestie eget, accumsan quis eros. Vivamus eget suscipit tellus. Nulla bibendum ultrices tincidunt. Nulla hendrerit, quam at pretium placerat, mauris orci suscipit diam, sit amet ultricies metus lorem ac velit. Sed sed sagittis velit. Donec ipsum turpis, cursus a leo nec, lobortis dignissim elit. Nam quis dignissim dui, eget dictum purus. Mauris pretium est in sapien vehicula, sit amet faucibus augue pellentesque. Aliquam erat volutpat. Maecenas justo magna, posuere non neque quis, vulputate tincidunt nulla. Phasellus faucibus augue nec nisi condimentum, ultricies molestie nisl varius.-->

  <!--Phasellus sagittis dapibus hendrerit. Vestibulum blandit nisl et fermentum consequat. Suspendisse sit amet ipsum luctus, volutpat mauris in, accumsan nulla. Duis rhoncus convallis bibendum. Morbi mollis sodales pharetra. Nunc pretium mollis nisl, at maximus diam imperdiet a. Fusce sed finibus erat.-->
  <div class="services">
    <div class="content">
      <h2>{{'services.ourServices' | translate}}</h2>
      <ul>
        <li>{{'services.service1' | translate}}</li>
        <li>{{'services.service2' | translate}}</li>
        <li>{{'services.service3' | translate}}</li>
      </ul>
    </div>

    <div class="content">
      <h2>{{'services.electroInstalation.title' | translate}}</h2>
      <ul>
        <li>{{'services.electroInstalation.item1' | translate}}</li>
        <li>{{'services.electroInstalation.item2' | translate}}</li>
        <li>{{'services.electroInstalation.item3' | translate}}</li>
        <li>{{'services.electroInstalation.item4' | translate}}</li>
        <li>{{'services.electroInstalation.item5' | translate}}</li>
      </ul>
    </div>

    <div class="content">
      <h2>{{'services.automation.title' | translate}}</h2>
      <ul>
        <li>{{'services.automation.item1' | translate}}</li>
        <li>{{'services.automation.item2' | translate}}</li>
        <li>{{'services.automation.item3' | translate}}</li>
        <li>{{'services.automation.item4' | translate}}</li>
        <li>{{'services.automation.item5' | translate}}</li>
      </ul>
    </div>
  </div>
</div>
