.city {
  font-size: 12px;
  color: gray;
}

.image-wrapper {
  padding-bottom: 10px;
}

img {
  width: 12vw;
  height: auto;
}

.ref {
  height: 100%;
  position: relative;
}

.cities {
  bottom: 0;
}
