<div class="wrapper">
  <h2>{{'services.clients' | translate}}</h2>
  <div class="content">
    <div class="title-wrapper">
      <img src="assets/img/icons/car.png">
      <h3>{{'list.cars' | translate}}</h3>
    </div>
    <div class="list">
      <ms-ref class="item" *ngFor="let ref of carRefs" [ref]="ref"></ms-ref>
    </div>
  </div>

  <div class="content">
    <div class="title-wrapper">
      <img src="assets/img/icons/package.png">
      <h3>{{'list.other' | translate}}</h3>
    </div>
    <div class="list">
      <ms-ref class="item" *ngFor="let ref of otherRefs" [ref]="ref"></ms-ref>
    </div>
  </div>

  <div class="content">
    <h2>{{'list.photos' | translate}}</h2>
    <ms-image-list></ms-image-list>
  </div>
</div>
