@import "../../../libs/colors";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    padding: 20px;
    overflow: hidden;
    min-width: 25%;
  }
}

.content {

  margin-bottom: 20px;

  &:nth-child(2n) {
    background: $color-light-blue;
  }
}
