@import "../../../libs/colors";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

  .item {
    padding: 20px;
    overflow: hidden;
    min-width: 25%;
  }
}

.content {

  margin: 8% 0px;
  //min-height: 100vh;

  &:nth-child(2n) {
    //background: $color-light-blue;
  }

  h3 {
    text-decoration: underline;
  }
}

ms-image-list {
  display: block;
  margin-top: 10%;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 10px;
  }
}
