@font-face {
  font-family: montserat;
  src: url(assets/font/Montserrat-Regular.otf) format("opentype");
}

body {
  margin: 0;
}

* {
  font-family: 'montserat', 'arial', sans-serif;
}

.text-content {

}
