@import 'libs/colors';

@font-face {
  font-family: montserat;
  src: url(assets/font/Montserrat-Regular.otf) format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  font-family: 'montserat', 'arial', sans-serif;
}

*::selection {
  background: $color-orange !important;
}
